@media(min-width:1px){
#banner{
	margin: 0px;
  position: relative;
  width:auto;
}
#banner img{
margin-top:5%;
height:80px;

margin-left:30%;
}
#banner .contenedor{
  position: absolute;
  top:50%;
  left: 50%;
/*  transform: translateX(-50%) translateY(-50%);*/
  color: #fff;
}
/*inicia logueo*/
#logueo{
	margin:0 px auto;
	text-align:center;
	margin-top:50px;
	color: white;
  background: rgba(51, 51, 51, 0.5);
  width: 290px;
	height: 440px;
  margin: auto;
	}
#logueo a{
	color: rgba(255, 255, 255, 0.5);;
}
#logueo h5{
	font-size:17px;
	margin:0;
	padding-top:10px;
	margin-top: 0px;
}
.log{
	width: 90%;
	font-size:17px;
	margin-top: 10px;
}
#ingresar{
	margin-top:15px;
}
}
@media(min-width:400px){
	#logueo{
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
#banner{
    height: auto;
    overflow: hidden;
  }
    #banner img {
margin-top:5%;
height:80px;
margin-left:5%;
}
#logueo h5{
		font-size:16px;
		}
.log{
	font-size:16px;
	width:auto;
}
}

@media(min-width:768px){
  #banner{
    height: auto;
    overflow: hidden;
   
  }
  #banner img {
margin-top:3%;
height:80px;

margin-left:5%;
}
#logueo h5{
		font-size:20px;
		}
.log{
	font-size:20px;
}
}

@media(min-width:1024px){
 #banner{
 height:120px;
 overflow:hidden;
 
}
#banner img {
margin-top:2%;
height:80px;

margin-left:5%;
}
#logueo h5{
		font-size:30px;
		}
.log{
	font-size:30px;
}
}
/*FIN DE ESTILO GENERAL*/
.table-header{
	background: rgba(51, 51, 51, 0.5);
}
.table-row{
	background: rgba(51, 255, 51, 0.5);
}
