@import url(menu.css);
@import url(fontello.css);
@import url(banner.css);
@import url(estilo2.css);

@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
header{
  width: 100%;
  height: 50px;
  background:rgba(51,51,51,0.5);
  color:#FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.contenedor{
  width: 98%;
  margin: auto;
}
h1{
  float: left;
}
header.contenedor{
  display: table;
}
section{
  width: 100%;
  margin-bottom: 25px;
}
#banner{
  background: rgba(0, 100, 0, 0.4);
  }
