/*INICIO DE ESTILO DEL MENU*/
#menu-bar{
  display: none;
}
header label{
  float:right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}
.oculta{
	display:none;
	}
.pasa{
	list-style:none;

	}
.menu{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background:rgba(51,51,51,.5);
  transition: all 0.5s;
  transform: translateX(-100%);
}
.menu a{
  font-size: 16px;
  width: 100%;
  display: block;
  color: #fff;
  height: 40px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.menu a:hover{
  background:#88d4f7;
  border-radius:30px;
}
.menu1 > li{
	float:inherit;
    z-index:100;
	}
.menu li:hover > ul >li{
	display: block;
	 background:rgba(51,51,51,.5);
	background-repeat: repeat;
	border-radius: 20px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	}
#menu-bar:checked ~ .menu{
  transform: translateX(0%);
}

/*FIN DEL ESTILO DEL MENU*/
/**/
@media(min-width:1024px){
	.menu{
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
  }
.menu{
	  background:rgba(51,51,51,.0);
}
.menu1 > li{
	float:left;
	display:block;
	}
  .menu a{
    border: none ;
  }
  .menu a{
    font-size: 18px;
  }

  header label{
    display: none;
  }
	}
/**/
